@import url("./password-modal.css");

#wrap {
  height: auto;
  min-height: 100%;
}

main {
  min-height: 600;
}

#backdrop-wrapper {
  display: flex;
  height: 500px;
  background-color: dimgray;
}

#main-wrapper {
  padding: 0 100px;
}

#info-box-wrapper {
  height: 350px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#poster-wrapper {
  height: 100%;
}

#poster-wrapper img {
  height: 100%;
  width: 100%;
}

#movie-overall-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0 30px;
}

#movie-basic-info-wrapper {
  display: block;
}

#movie-title {
  display: inline-block;
  font-size: 40px;
}

#movie-feature {
  display: inline-block;
  font-size: 14px;
}

#movie-overview {
  margin-top: 30px;
  font-size: 16px;
}

#movie-rate {
  margin-top: 10px;
  font-size: 18px;
}

#movie-platform-box {
  margin-top: auto;
}

#cast-info-wrapper {
  width: 16%;
  height: 100%;
  border: solid 1px black;
  border-radius: 10px;
}

#cast-info-box {
  padding: 20px;
}

#cast-label {
  font-size: 20px;
  font-weight: bold;
}

#cast-list {
  margin-top: 30px;
}

#cast-row {
  display: block;
}

#cast-image {
  display: inline-block;
}

#cast-name {
  display: inline-block;
}

#reviews-wrapper {
  height: 300px;
  padding: 100px 0;
  margin-bottom: 20px;
  border: solid 1px black;
  border-radius: 10px;
}

#review-cnt {
  margin: 0 30px;
}

#review-row {
  margin: 30px;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
}

#review-box-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: solid 1px black;
}

#review-box-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

#review-content-box {
  width: 90%;
}

#review-detail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  text-align: right;
}

#review-time {
  font-size: 12px;
}

#like-count {
  font-size: 18px;
}

/* 리뷰 입력란 스타일 */
#review-form-wrapper {
  height: 150px;
  border: solid 1px black;
  border-radius: 10px;
}

#review-form {
  padding: 20px;
}

#password-label {
  margin-left: 20px;
}

#review-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#review-label {
  margin-bottom: 10px;
}

#review-form-btn-box {
  margin-top: 10px;
  text-align: right;
}

#edit-review-input {
  width: 90%;
  height: 90%;
}
