body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#ad-banner-wrap {
  width: 1224px;
  background: var(--primary-color);
  height: 200px;
  border-radius: 12px;
  margin-top: 44px;
  margin-bottom: 44px;
}
