#movie-wrap {
  width: 1224px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 22px;
  border-radius: 12px;
  padding: 20px 0px 20px 0px;
  margin-bottom: 44px;
}

#movie-title-wrap {
  display: flex;
  justify-content: space-between;
}

#movie-title-wrap > h2 {
  font-size: var(--font-2xl);
  font-weight: bold;
}

.movie-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#top-rated-movies-wrap {
  width: fit-content;
  display: flex;
  gap: 22px;
  padding: 20px 18px 20px 18px;
  border-radius: 12px;
  background: var(--primary-color);
}

#popular-movies-wrap {
  width: fit-content;
  display: flex;
  gap: 22px;
  padding: 20px 18px 20px 18px;
  border-radius: 12px;
  background: var(--primary-color);
}

#trending-movies-wrap {
  width: fit-content;
  display: flex;
  gap: 22px;
  padding: 20px 18px 20px 18px;
  border-radius: 12px;
  background: var(--primary-color);
}

.movie-content-wrap {
  line-height: 1.5;
  position: relative;
  cursor: pointer;
}

.movie-content-wrap > img {
  width: 220px;
  height: 300px;
  border-radius: 12px;
}

.movie-content-wrap > h4 {
  white-space: nowrap;
  width: 200px;
  /* font-size: var(--font-lg); */
  font-size: 15pt;
  font-weight: 500;
}

.movie-vote-average-text {
  font-size: var(--font-sm);
}

.movie-release-date-text {
  font-size: var(--font-sm);
}

.movie-rank-text {
  background: var(--primary-color);
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 2px;
  top: 12px;
  left: 12px;
  border-radius: 6px;
  text-align: center;
}

.prev-btn {
  width: 24px;
  height: 24px;
  color: white;
  border: 1px solid white;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 8px;
}

.next-btn {
  width: 24px;
  height: 24px;
  color: white;
  border: 1px solid white;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 12px;
}

.prev-btn:hover {
  background: white;
  color: black;
}

.next-btn:hover {
  background: white;
  color: black;
}

.prev-btn:active {
  background: black;
}

.next-btn:active {
  background: black;
}
